@()

@import system.Formatter

<section class="room-log-ctl">
    <div class="btn-group" id="log-ctl-wrapp">
        <button class="btn ctl-day">@Messages("room.log.day")</button>
        <button class="btn ctl-week">@Messages("room.log.week")</button>
        <button class="btn ctl-month">@Messages("room.log.month")</button>
        <button class="btn ctl-three-month">@Messages("room.log.three.month")</button>
    </div>
</section>

@views.helper.collectJS {
    <script type="text/javascript">
        $(document).ready(function(){
            var $logCtlWrapp = $("#log-ctl-wrapp"),
                $logCtlDay = $(".ctl-day", $logCtlWrapp),
                $logCtlWeek = $(".ctl-week", $logCtlWrapp),
                $logCtlMonth = $(".ctl-month", $logCtlWrapp),
                $logCtlThreeMonth = $(".ctl-three-month", $logCtlWrapp);

            $(".btn", $logCtlWrapp).click(function() {
                var to = moment().utc().valueOf(),
                    from;
                if($(this).is($logCtlDay)) {
                    from = moment().utc().subtract('days', 1).valueOf();
                } else if($(this).is($logCtlWeek)) {
                    from = moment().utc().subtract('days', 7).valueOf();
                } else if($(this).is($logCtlMonth)) {
                    from = moment().utc().subtract('months', 1).valueOf();
                } else if($(this).is($logCtlThreeMonth)) {
                    from = moment().utc().subtract('months', 3).valueOf();
                }
                var room_id = $currentLog.closest(".tab-pane").attr("data-room-id");
                jsRoutes.controllers.Rooms.getMessages(room_id, from, to).ajax({
                    success : function(data) {
                        console.log("Messages:"+data)
                        logRendering($currentLog, data)
                    },
                    error : function(err) {
                        console.log("Error:"+err)
                    }
                });
            });
        });
    </script>
}