@(relationship: models.UserRoomRelationship)

@import system.ChatRoomStatus

@loggedUser = @{actions.GlobalContextParams.loggedUser()}
@room = @{relationship.room}

<div class="tab-pane @if(room.getStatus.equals(ChatRoomStatus.DEFAULT)){ active }" id="#@(views.helper.getRoomIdForJS(room))" data-room-id="@room.getId">
    <div class="row">
        <div class="span8">
            @tags.rooms.tab_log(room.getMessages)
        </div>
        <div class="span4">
            @* TODO Create admin panel*@
            @*
            @if((relationship.user == loggedUser) && relationship.getRole().equals(UserRoomRole.ADMIN)) {
                @tags.rooms.admin_bar_ctl(room)
            }
            *@
            @tags.user.list(room)
        </div>
    </div>
</div>

@views.helper.collectJS {
    <script type="text/javascript">
        var refreshLogIntervalID = setInterval(function(){ $(document).trigger('tab.log.refresh.day') }, 3000);
        var refreshUsersIntervalID = setInterval(function(){ $(document).trigger('tab.users.list.load') }, 10000);
    </script>
}

@* TODO websockets messages*@
@*
@views.helper.collectJS{
<script type="text/javascript" charset="utf-8">
    $(function() {
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var chatSocket = new WS("@routes.WebSockets.connectToRoom(room.getId).webSocketURL(request)");

        var sendMessage = function() {
            chatSocket.send(JSON.stringify(
                {text: "== test message =="}
            ))
        }
        var receiveEvent = function(event) {
            var data = JSON.parse(event.data)
            // Handle errors
            if(data.error) {
                chatSocket.close()
            } else {}

            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                }
            }
            chatSocket.onmessage = receiveEvent
        }
        setTimeout(function(){sendMessage()}, 2000);
    });
</script>
}
*@

