@()(implicit ActiveNaviItem: String = "")

@import security.UserSecurityHelper

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="@routes.Application.index()">@Messages("project.name")</a>
        <ul class="nav">
            <li @if(ActiveNaviItem == routes.Application.index().url){class="active"} ><a href="@routes.Application.index()">@Messages("page.header.links.home")</a></li>
            <li @if(ActiveNaviItem == routes.Application.features().url){class="active"} ><a href="@routes.Application.features()">@Messages("page.features.title")</a></li>
            @if(UserSecurityHelper.isUserLogged()){
                @* TODO profile page
                <li><a href="#">@Messages("page.header.links.profile")</a></li>
                *@
                <li><a href="@routes.Application.documentation()">@Messages("page.documentation.title")</a></li>
                <li><a href="@routes.Users.signOut()">@Messages("web.btn.logout")</a></li>

            }
        </ul>
        @*----------------*@
        @tags.lang_bar()
    </div>
</div>