@(registrationForm: Form[data.UserDTO])

@import helper._
@import scala.collection.immutable._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap.horizontalInput.render) }

<h3>@Messages("web.user.sign_up")</h3>
@helper.form(action = routes.Users.save(), 'class -> "form-horizontal", 'id -> "registrationForm") {
    @helper.inputText(registrationForm("email"), 'type -> "email", '_showConstraints -> false, '_label -> Messages("web.form.email"))
    @helper.inputText(registrationForm("name"), '_showConstraints -> false, '_label -> Messages("web.form.name"))
    @helper.inputPassword(registrationForm("password"), '_showConstraints -> false, '_label -> Messages("web.form.password"))

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="@Messages("web.btn.register")" class="btn btn-primary span2">
        </div>
    </div>
}

