@(registrationForm: Form[models.User])

@import helper._
@import scala.collection.immutable._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap.horizontalInput.render) }

<h3>@Messages("web.user.sign_up")</h3>
@helper.form(action = routes.Users.signIn(), 'id -> "registrationForm") {
    @helper.inputText(registrationForm("email"), 'type -> "email", '_showConstraints -> false, '_label -> Messages("web.form.email"))
    @helper.inputText(registrationForm("email"), '_showConstraints -> false, '_label -> Messages("web.form.name"))
    @helper.inputPassword(registrationForm("password"), '_showConstraints -> false, '_label -> Messages("web.form.password"))

    <div class="actions">
        <input type="submit" value="@Messages("web.btn.login")" class="btn btn-primary span3">
    </div>
}

