@(loginForm: Form[data.AuthUser], users: List[models.User])

@import security.UserSecurityHelper;
@template_main(Messages("page.home.title")) {
    <div class="row">
       @if(!UserSecurityHelper.isUserLogged()) {
           <div class="span6 offset3">
               @tags.form.login(loginForm)
           </div>
       } else {
            <div class="span8">
                Home page
            </div>
           <div class="span4">
               @tags.user.list(users)
           </div>
       }

    </div>
}
