@(loginForm: Form[data.AuthUser], sendMessageForm:Form[data.MessageDTO], relationships: List[models.UserRoomRelationship])

@import security.UserSecurityHelper;
@template_main(Messages("page.home.title")) {
    <div class="row">
       @if(!UserSecurityHelper.isUserLogged()) {
           <div class="span6 offset3">
               @tags.form.login(loginForm)
           </div>
       } else {
            <div class="span12">
                @tags.rooms.tabs(relationships)
            </div>
            @tags.form.send_message(sendMessageForm)
       }
    </div>
}
